@model ListingEmployeesModel
@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4 mb-4">Welcome to Employee System!</h1>

	<div class="d-grid gap-2 mb-4">
		<a class="btn btn-primary" asp-controller="Employee" asp-action="Create">Create Employee</a>
	</div>

	@if (!Model.Employees.Any())
	{
		<h2>Not employees yet.</h2>
	}
	else
	{

		<h3>The 5 employees completed the largest number of tasks</h3>

		<h6 class="float-end">Average salary:@Model.AverageSalary.ToString("0.00") BGN</h6>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>
						Employee's full name
					</th>
					<th>
						Email
					</th>
					<th>
						Phone number
					</th>
					<th>
						Monthly salary
					</th>
					<th>
						Tasks info.
					</th>
					<th>
						Settings
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var employee in Model.Employees)
				{
					<tr>
						<td>@employee.FullName</td>
						<td>@employee.Email</td>
						<td>@employee.PhoneNumber</td>
						<td>@employee.MonthlySalary BGN</td>
						<td>
							Tasks: @employee.TasksCount
							@if (@employee.TasksCount > 0)
							{
								<a asp-controller="Task" asp-action="AllForEmployee" asp-route-employeeId="@employee.Id" class="btn btn-warning">View all</a>
							}
						</td>
						<td>
							<div class="dropdown">
								<button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
									Options
								</button>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item btn btn-secondary" asp-controller="Task" asp-action="Create" asp-route-employeeId="@employee.Id">Add task</a></li>
									<li><a class="dropdown-item btn btn-warning" asp-controller="Employee" asp-action="Edit" asp-route-id="@employee.Id">Edit</a></li>
									<li>
										<form method="post">
											<button type="submit" class="dropdown-item btn btn-danger" asp-controller="Employee" asp-action="Delete" asp-route-id="@employee.Id">Delete</button>
										</form>
									</li>
								</ul>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	}
</div>
